cat > .gitignore << 'EOF'
# Java
target/
out/
*.class
*.jar
*.war
*.ear

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs & temp
logs/
*.log
tmp/
.cache/
.txt

# Build tools
.mvn/
EOF

# pycache
blockchain_types/__pycache__
config/__pycache__
tools/__pycache__
tests/__pycache__
__pycache__

# private stuff
wallets/

# ignore
BS_Env/